.dark{
    background: #313131;
    color: white;
}
.light{
    background: #ffffff;
    color: black;
}
h1{
    text-align: center;
}
.goodatcardcont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}